/*!

 Simple reset.css

 @version	1.0
 @author	Oskar Krawczyk (thereis@nouincolor.com)

*/

body, head, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li, dd, dt, dl, form, fieldset, input, textarea {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	font-weight: normal;
	vertical-align: top;
	line-height: 100%;
	font-size: 1em;
}

img {
	border: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table, td, tr, th, tbody, thead {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	display: none;
}

.selector:after {
	display: block;
	content: ' ';
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
	width: 100%;
}

p {
	line-height: 1.5em;
}

input, select, textarea {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
