@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  border: solid 10px #fff;
  background: #F1F1F1;
  color: #666;
}

a {
  text-decoration: none;
  color: #C31A41;
}

a:hover {
  text-decoration: none;
}

#body-wrapper {
  width: 480px;
  margin: 30px auto;
}

#header {
  background: url(/heyoffline.js/public/images/dot-h.png) 0 100% repeat-x;
}

#header h1 {
  background: url(/heyoffline.js/public/images/dot-h.png) 0 100% repeat-x;
  padding: 0 0 30px;
}

  #header h1 a {
    font-family: Lato;
    display: block;
    margin: 0 auto;
    color: #666;
    font-weight: 200;
    padding: 40px 0 40px;
    font-size: 5em;
    text-align: center;
  }

#header h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: Lato;
  font-weight: 200;

  color: #333;
}

#actions {
  background: url(/heyoffline.js/public/images/dot-h.png) 0 100% repeat-x;
  padding: 20px 0;
  text-align: center;
}

  #actions li {
    display: inline;
  }

  #actions li a,
  #actions li .a {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    background: #C31A41;
    padding: 0 20px;
    color: #fff;
    font-size: 1.15em;
    border-radius: 2px;
  }

  #actions li span {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
  }

  #actions .download a {
    background: #393939;
  }

  #actions .download a strong {
    color: #999;
    font-size: .75em;
    font-weight: normal;
    padding-left: 5px;
  }

h3 {
  margin: 30px 0 15px;
  font-weight: bold;
  font-size: 1.3em;
  color: #333;
}

p {
  margin: 0 0 15px;
  padding: 0;
}

code, pre {
  background: #393939;
  padding: 2px 4px;
  color: #fff;
  font-family: Monaco, sans-serif;
  font-size: .9em;
  border-radius: 2px;
}

pre {
  padding: 10px;
  margin: 10px 0 20px;
  line-height: 1.5em;
}

table {
  text-align: left;
}

  table td {
    padding: 7px 0 7px 5px;
    line-height: 1.4em;
    vertical-align: top;
    border-top: solid 1px #DFDFDF;
  }

  table th {
    padding: 0 0 7px 5px;
  }

  table tr:nth-child(even) td {
    background: #F9F9F9;
  }

.name {
  width: 135px;
}

.type {
  width: 90px;
}

.default {
  width: 75px;
}

.desc {
}
